body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(240, 255, 255, 0.361);
}

/* styling first section */

.first-section{
    text-align: center;
    background:url(donation4.jpg);
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.74);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding-top: 150px;
    padding-bottom: 300px;
    margin-bottom:50px ;
    line-height: 30px;
}
.heading{
    font-family: sans-serif;
    color:white;
    font-weight: 550;
    font-size: 60px;
}
.para{
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

.link-btn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 71, 71);
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
}

 /* styling second section */

.sec-div{
    text-align: center;
    line-height: 20px;
    margin-top: 150px;
}
.second-heading{
    font-size: 50px;
}
.common-para{
    font-size: 18px;
    color:rgb(99, 93, 93) ;
    margin-bottom: 50px;
}

.flexible-div{
    display: flex;
    justify-content: center;
}

.child-flexible-div{
    font-size: 25px;
    background-color: rgba(216, 212, 212, 0.253);
    padding: 5px 30px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 5px;

}
.second-amount{
    color: rgba(255, 72, 0, 0.929);
    background-color: rgba(255, 72, 0, 0.152);
    border: 3px solid rgba(255, 30, 0, 0.809);
}

.input-div{
    text-align: center;
}

input{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: none;
}
hr{
    width: 60%;
    margin-bottom: 40px;
}

/* styling third section */

.item{
    margin-left: 30px;
    width: 250px;
    padding: 30px 50px 0px;
    border-radius:5px ;
    text-align: justify;
}
h3{
    font-size: 25px;
}
#first{
    background-color: rgba(135, 206, 250, 0.222);
}
#second{
    background-color: rgba(216, 112, 147, 0.137);
}
#third{
    background-color: rgba(255, 166, 0, 0.122);
}

/* styling fourth section */

.fourth-section{
    margin-top: 150px;
    padding: 40px;
}
 
.fourth-heading{
    font-size: 55px;
    text-align:center;
    font-family: sans-serif;
}

.flexible-div2{
    display: flex;
    text-align: center;
    margin-left: 20px;
}
.form{
    background-color: white;
    box-shadow: 2px 5px 5px 2px rgba(180, 177, 177, 0.787);
    width: 400px;
    height: 348px;
    margin-left: 100px;
    border-radius: 10px;
    line-height: 20px;
}
.input-amount{
    padding: 15px 4px;
    border: 1px solid #4267B2;
    border-radius: 10px;
    margin-bottom: 30px;
}
.last-h3{
    color:#008ad3;
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px black;
    letter-spacing: 3px;
    font-weight: 900;
}
.link{
    background-color: #4267B2;
    font-size: 25px;
    padding: 10px 50px 10px 50px;
}


/* styling fifth section */

.last-div{
    background-color: rgba(255, 98, 0, 0.224);
    padding:75px 60px;
    text-align: center;
    border-radius: 5px;
    width: 45%;
    margin:0 auto;
    margin-bottom: 100px;
}

.email{
    text-align: justify;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    background-color: rgba(199, 193, 193, 0.607);

}
.btn{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 30, 0, 0.838);
    padding:9px 30px 6px 30px;
    border-radius: 5px;
    text-align: center;
}



/* styling footer */

footer{
    background-color: rgba(0, 0, 0, 0.903);
    text-align: center;
    padding:10px 0px;
    margin-top: 20px;
}
.footer-h3{
    color:tomato;
    font-weight: bold;
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
